body {

    background-image: linear-gradient(#A6C0FE, #E5B2CA, #88D3CE, #E5B2CA);
    height: 100vh;
    width: 98%;
    
}

.heading1 {
    text-align: center;
}

.heading2 {
    margin-left: 50px;
}

.paragraph {
    font-size: 20px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
}

.inputbox {
    border-radius: 7px;
    border: 2px solid blue;
    padding: 8px;
    margin-bottom: 10px;
    width: 15%;
}

.label {
    font-size: 20px;
    margin-left: 50px;
}

.inputbox:hover {
    color: blue;
    box-shadow: 0px 0px 15px;
}

.selectbox {
    border-radius: 7px;
    border: 2px solid blue;
    padding: 8px;
    margin-bottom: 10px;
    width: 16.7%;
}

.selectbox:hover {
    color: blue;
    box-shadow: 0px 0px 15px;
}

.button {
    display: flex;
    margin-left: 50%;

}

.button1 {
    background-color: #88D3CE;
    border-radius: 20px;
    padding: 10px;
    border: 3px solid blue;
}

.button a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.button1:hover {
    background-color: aqua;
    box-shadow: 0px 0px 30px yellow;
}

.button a:hover {
    color: purple;

}

.submitbox {
    margin-top: 20px;
    border-radius: 7px;
    border: 2px solid blue;
    padding: 8px;
    margin-bottom: 10px;
    width: 15%;
    font-weight: bold;

}

.submitbox:hover {
    color: blue;
    box-shadow: 0px 0px 15px;
}

.resetbox {
    margin-top: 20px;
    border-radius: 7px;
    border: 2px solid red;
    padding: 8px;
    margin-bottom: 10px;
    width: 15%;
    margin-left: 38%;
    font-weight: bold;
    margin-right: 10px;

}

.resetbox:hover {
    color: red;
    box-shadow: 0px 0px 15px;
}